{%- extends 'layout.html' -%}

{%- block content -%}
  <div>
  
    We are located at 4-105 Oak Park Drive in Waterloo, Ontario. Our postal code is N2K 0B3.
    <br /><br />
    You can contact us by Phone at <a href="tel:5198885555">(519) 888-5555</a>.
    <br /><br />
    Fax: <a href="tel:5198885554">(519) 888-5554</a>
    <br /><br />
    <h4>
      Store Hours
    </h4>
    
    <ul style="list-style-type: none; width: 15vh">
      <li>Monday  <span style="text-align:right">9:00 am - 6:00 pm</span></li>
      <li>Tuesday     9:00 am - 8:00 pm</li>
      <li>Wednesday   9:00 am - 6:00 pm</li>
      <li>Thursday    9:00 am - 8:00 pm</li>
      <li>Friday      9:00 am - 6:00 pm</li>
      <li>Saturday    9:00 am - 3:00 pm</li>
      <li>Sunday      Closed</li>
    </table>
  </div>
{%- endblock -%}