{%- extends 'layout.html' -%}

{%- block content -%}
  <div>
    Q: "What do I do if my product or service is not on the list?"
    <br />
    A: Do not worry if your product is not on the list, you can simply select the most relevant one and add Notes. 
        For example, if you want to order a prescription that isn't on the list, simply order from the generic Prescription Drug product 
        and include notes that specify what you know about the prescription.
    
    <br /><br />
    
    
  </div>
{%- endblock -%}